[submodule "libraries/cardano-meta-handler"]
	path = libraries/cardano-meta-handler
	url = https://github.com/repsistance/cardano-meta-handler
	ignore = dirty
	branch = main
[submodule "libraries/cardano-meta-handler-test"]
	path = libraries/cardano-meta-handler-test
	url = https://github.com/repsistance/cardano-meta-handler
	branch = main
